<% if (!user) { %>
<h2>Welcome!</h2>
<% } else { %>
<h2>Hello, <%= user.email %>.</h2>
<h3>Hospital1 Services:</h3>
<ul>
  <li><a href="/oauth/authorize">User Profile</a></li>
  <li><a href="/oauth/authorize/medication">User Medication</a></li>
  <li>
    <a href="/oauth/authorize/medication/update">Update User Medication</a>
  </li>
  <li><a href="/oauth/refresh">Refresh Access Token</a></li>
</ul>
<div><% } %></div>
